@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

  .default-main{
    margin: 18px auto;
    max-width:75%;
    background: #fff;
    width: 80%;
    padding: 10px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  }
  .default-main .text{
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .defaut-main form{
    padding: 0 0;
  }
  .default-main form .default-form-row{
    display: flex;
    justify-content: center;
    margin: 32px 0;
  }
  form .default-form-row .input-data{
    width: 40%;
    height: 40px;
    margin: 8px 16px;
    position: relative;
  }

  .default-form-submit, .default-form-clear {
    width: 24%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 8px 4%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .default-form-submit:hover {
    background-color: #0056b3;
  }
  .success{
    color: #ccc;
    margin-left: 10%;
  }
  .table-container {
    max-height: calc(6 * (4em + 2px)); /* Adjust the height based on your table row height */
    overflow-y: auto;
    margin-bottom: 20px;

  }
  
  .table {
    overflow-x: auto; /* Use auto to allow horizontal scrolling */
    /* overflow-x: scroll; */
    font-size: 12px;
    text-align: center;
    table-layout: auto;
  }
  
  thead th {
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure the heading stays above the body */
    background-color: white; /* Optional: Make the background white to hide any overlapping with the table body */
    color:black;
  }
  /* .modify-table-button button img
  {
    max-height: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
  } */
  .edit img,.delete img{
    max-height: 15px;

  }
  
  .logo {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .logo-img {
    width: 500px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }


.landing-main{
  background-color: rgba(255, 243, 243, 0.5);
  position: absolute; /* or relative, depending on your layout */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */;
}
  .mode {
    border-radius: 8px;
    margin-top: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  
  .mode button {
    /* background-color: #ffffff; Set your desired background color */
    border: 3px rgb(65, 65, 65) solid;
    border-radius: 16px;
    background: none;
     /* Adjust the margin for space between buttons */
    padding: 10px; /* Adjust padding as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .mode button:hover{
    background-color: rgba(55, 61, 59, 0.384);
  }
  
  .mode-img {
    background-color: none;
    width: auto; /* Adjust the width of the image */
    height: 200px;
    max-height: 500px; /* Adjust the height of the image */
    margin-right: 5px; /* Adjust the margin for space between image and text */
  }

  .btn-container {
    display: flex;
    justify-content: space-around;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .form-group input, .form-group select{
    display: block;
    width: max-content;
  }
  .form-group {
    flex: 0 0 20%; /* Adjust the width as needed */
    margin-bottom: 6px;
  }
  form .form-row .form-group .input-data{
    width: 100%;
    height: 40px;
    margin: 0 12px;
    position: relative;
  }
  .input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:active ~ .underline:before{
  transform: scale(1);
}
  .form-group label {
    display: block;
    margin-bottom: 2px;
    color: black;
  }
  .disabled-button
  {
    cursor: not-allowed;
  }
  .hidden {
    display: none;
  }

  /* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Color of the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Color and style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.csv-link {
  text-decoration: none;
  padding: 0 10px;
  margin-right: 6%;
  margin-bottom: 20px;
  border-radius: 6px;
  color: white;
  border: none;
  height: min-content;
}
.csv-link-container {
  display: flex;
  justify-content: flex-end;
}
.csv-totalbox
{
  margin: 8px 16px;
  display: flex;
  justify-content: space-between;

}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-item {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.pagination-item.active {
  background-color: #007bff;
  color: #fff;
}
.pagination-item:hover {
  box-shadow: #333;
}

.pagination-item.disabled {
  cursor: not-allowed;
  color: #ccc;
  border-color: #ccc;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 10px;
  width: 100%;
}

.search-dropdown, .search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-input {
  width: 44%;
  flex: 1;
  margin: 0px 8px;
}

.search-button, .clear-button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.clear-button{
  width: 20%;
  background-color: grey;
}
.search-button {
  background-color: #007bff;
  color: white;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus, .clear-button:focus {
  outline: none;
}

.icon-magnifier {
  width: 18px;
  height: 18px;
  fill: white;
}

.totals-box {
  display: flex;
  justify-content: end;
  margin: 20px ; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  display: inline-block;
}

/* Modal content */
.modal-content {
  padding: 20px;
}

/* Modal header */
.modal-header {
  padding: 10px 20px;
  background-color: #f5f5f5;
}

/* Modal body */
.modal-body {
  padding: 20px;
}

/* Modal footer */
.modal-footer {
  padding: 10px 20px;
  background-color: #f5f5f5;
}

/* Button styles */
.btn {
  margin-right: 10px;
}
